#backgroundVideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

h1, p, #btnVideo {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

h1{
    font-size: 6rem;
    margin-top: 30vh;
}

p{
    font-size: 2rem;
}

#btnVideo{
    font-size: 1.5rem;
    margin-top: 5vh;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: 0;
    background: black;
    border-radius: 1rem;
    cursor: pointer;
}